%h1 "#{@project.path_with_namespace} - detail"

%table.table.table-bordered.table-striped
  %tr
    %th URL
    %td= link_to @project.web_url_with_domain, @project.web_url_with_domain, target: '_blank'
  %tr
    %th Last Activity
    %td= l(@project.last_activity_at, format: :long)
  %tr
    %th Ruby Version
    %td= @project.ruby_version
  %tr
    %th Rails Version
    %td= @project.rails_version
  - if @project.error_message?
    %tr
      %th Brakeman Message
      %td= @project.error_message
  - if @project.brakeman_json?
    %tr
      %th Brakeman Summary
      %td= @project.brakeman_json.summary
  - if @project.brakeman_json.try(:has_warning?)
    %tr
      %th Brakeman Warnings
      %td= cell(:project, @project).call(:warn_table)
  %tr
    %th Email for notification
    %td= render 'form'

= link_to 'Project List', projects_path
