!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Dobermen
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    = render partial: 'layouts/navigation_bar'

    .container
      - if flash[:notice]
        %p.bg-success{ style: 'padding: 15px;' }= flash[:notice]

      = yield